

body, html {
    margin: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-color: rosybrown;
}

h1 {
    text-align: center;
}

.AllQs {
    text-align: justify;
    margin: 0 15%;
}

#Q1 {
    background-color: #12427D;
    color: #FFA31A;
    border-radius: 15px;
}